.banner {
  background: url("img/test.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 150px;
  color: white;
}
h1 {
  font-family: sans-serif;
  font-size: 350%;
}

h2 {
  font-weight: bold;
}

dd {
  font-family: sans-serif;
  font-size: 110%;
}

/* style.css */

body {
  background-image: url("img/bg.jpg"); /* Ganti 'gambar-latar-belakang.jpg' dengan path atau URL gambar Anda */
  background-size: cover; /* Menyesuaikan ukuran gambar dengan lebar dan tinggi elemen body */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  background-attachment: fixed; /* Membuat gambar tetap di tempatnya saat menggulir */
  background-color: rgba(0, 0, 0, 0); /* Nilai terakhir (0.5) menentukan tingkat transparansi; 1 = tidak transparan, 0 = sepenuhnya transparan */
}
.transparent-bg {
  opacity: 0.5; /* Sesuaikan dengan tingkat transparansi yang Anda inginkan; 0 = sepenuhnya transparan, 1 = tidak transparan */
}
/* Anda dapat menambahkan gaya tambahan untuk elemen lain di halaman Anda di sini */
